$color-text-dark:#333333;
$color-text-light:#FEFEFE;
$color-text-dark-p:#4F4F4F;


$color-arrow-btn:#989898;

$color-bg-header:#FFFFFF;
$color-bg-footer:#333333;
$color-bg-description:#F2F2F2;
$color-bg-pay:#F2F2F2;
$color-bg-testimonials:#FBFBFB;
$color-bg-testimonials-cards:#FEFEFE;
$color-bg-map:#F2F2F2;

$color-border-circle:#4AD7D7;


$color-switch-btn_enable:#1B1B1B;
$color-bg-switch-btn_enable:#4F4F4F;
$color-bg-switch-btn_disable:#F2F2F2;

$color-form-text:#E0E0E0;
$color-form-textarea:#BDBDBD;

$color-gradient1:  #4BD8B5;
$color-gradient2:  #49D6DF;

@mixin font($size, $l_height, $font-color, $family:Roboto, $style:normal, $weight: bold ) {
    font-family: $family;
    font-style: $style;
    font-weight: $weight;
    font-size: $size;
    line-height: $l_height;
    color: $font-color;
}